export(align_text)
export(cer)
export(compare_systems)
export(confusion_table)
export(edit_counts)
export(error_profile)
export(evaluate_recognition)
export(normalization_sensitivity)
export(normalize_text)
export(summarise_recognition)
export(wer)
