export(align_text)
export(cer)
export(compare_systems)
export(confusion_table)
export(edit_counts)
export(error_profile)
export(evaluate_recognition)
export(extract_error_spans)
export(fidelity_agreement)
export(fidelity_codebook)
export(fidelity_profile)
export(normalization_sensitivity)
export(normalize_text)
export(plot_comparison)
export(plot_error_profile)
export(prepare_fidelity_annotation)
export(summarise_recognition)
export(wer)
